{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block content%}
<center>
    <h5 class="indigo-text">Please, login into your account</h5>
    <div class="section"></div>

    <div class="container">
        <form method="post" class="form form-signin m-5 p-4" style="  width: 100%; max-width: 330px;border: 1px solid; border-radius: 4px;">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
    Don't have an account? <a href="/signup">Sign Up</a>
</center>
<div class="section"></div>
{% endblock %}