{% extends "layout.html" %}

{% block content%}
<center>
    <h5 class="indigo-text">Please, login into your account</h5>
    <div class="section"></div>

    <div class="container">
        <div class="z-depth-1 grey lighten-5 row" style="display: inline-block; padding: 2em; border: 1px solid #EEE;">
            <form method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <button type="submit" class="btn">Login</button>
            </form>
        </div>
    </div>
    Don't have an account? <a href="/signup">Sign Up</a>
</center>
<div class="section"></div>
{% endblock %}