{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block content%}
<center>
    <h3>Login into your account</h3>
    
    <form method="post" class="form form-signin m-5 p-4 text-left" style="max-width: 330px; box-shadow: 0 5px 15px rgba(0,0,0,.15);">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <div class="mb-5">Don't have an account? <a href="/signup">Sign Up</a></div>
</center>
{% endblock %}